@import 'tailwindcss';

html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;

}

body {
    padding: 8px;
    overflow: clip;
}

button {
    @apply not-disabled:cursor-pointer px-2 py-1 border-2 rounded-md transition-transform duration-75 not-disabled:hover:scale-105 not-disabled:hover:bg-yellow-200 not-disabled:hover:font-bold;
}

a {
    @apply text-blue-600 underline;
}