@import 'tailwindcss';

body {
    margin: 20px;
}

button {
    @apply not-disabled:cursor-pointer px-2 py-1 border-2 rounded-md transition-transform duration-75 not-disabled:hover:scale-105 not-disabled:hover:bg-yellow-200 not-disabled:hover:font-bold;
}

a {
    @apply text-blue-600 underline;
}